:root {
  --poli-green: rgb(0, 146, 64);
  --poli-green-dark: #196844;
  --poli-red: red;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

* {
  font-family: "Asap", sans-serif;
}

.poli-text {
  font-family: "Quicksand", sans-serif;
}

.bold {
  font-weight: 600;
}

a {
  color: var(--poli-green-dark) !important;
}

.popover-header {
  background-color: #01774f;
  color: #fff;
}

#blur_body{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    visibility: hidden;
}
